html, body {
  margin: 0;
  padding: 0;
  background-color: #000;
  color: #FFF;
  font-family: 'Courier';
  font-size: 8pt;
  letter-spacing: 2pt;
  line-height: 8pt;
}

canvas {
  display: block;
  position:absolute;
  z-index: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%,calc(-50% - 20px));
  height: 70vh !important;
  width: 70vh !important;
}

video {
  opacity: 0;
}

#btns {
  display: flex;
  position:absolute;
  z-index: 0;
  top: 50%;
  left: 50%;
  width: 70vh;
  justify-content: space-between;
  transform: translate(-50%,35vh);
}

#capture_btn {
  width: 64px;
  height: 64px;
  background-image: url('./camera_icon.png');
  cursor: pointer;
}

.palette_change {
  display: flex;
}

#palette_change_minus {
  width: 64px;
  height: 64px;
  background-image: url('./Arrow_Left.png');
  cursor: pointer;
}

#palette_change_plus {
  width: 64px;
  height: 64px;
  background-image: url('./Arrow_Right.png');
  cursor: pointer;
}